<form action="/behavior/summary/month" method="post">
    <div class="form-group">
        <label for="month">Choose month</label>
        <input type="month" name="month" id="month" class="form-control">

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
