<form action="/behavior/summary/week" method="post">
    <div class="form-group">
        <label for="week">Choose week</label>
        <input type="week" name="week" id="week" class="form-control">
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

